<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div class="sticky-top">
    <div th:replace="fragments/navigation :: navigation"/>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <div class="mt-5">
                <div th:replace="fragments/item_menu :: item_menu"/>
            </div>
        </div>
        <div class="col-10">
            <hr>
            <div class="row mt-1 p-5">
                <div class="col">
                    <h2>물품 목록</h2>
                    <form action="/item/search" method="post">
                        <input type="text" name="name" class="">
                        <input type="submit" value="검색">
                    </form>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>물품명</th>
                            <th>관리처</th>
                            <th>구분</th>
                            <th>수량</th>
                            <th>매입처</th>
                            <th>매입처 정보</th>
                            <th>매입가</th>
                            <th>비고</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item : ${items}" th:data-id="${item.getId()}" class="clickedTr">
                            <td th:text="${item.getName()}">물품명</td>
                            <td th:text="${item.getManage()}">관리처</td>
                            <td th:text="${item.getDivision()}">구분</td>
                            <td th:text="${item.getCount() + ' (' + item.getCountSub() + ')'}">수량</td>
                            <td th:text="${item.getBuyPrice()}">매입처</td>
                            <td th:text="${item.getSupply()}">매입처 정보</td>
                            <td th:text="${item.getSupplyInfo()}">매입가</td>
                            <td th:text="${item.getMemo()}">비고</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--                                pagination-->
            <nav>
                <ul th:class="pagination"
                    th:with="start=${T(Math).floor(items.number/10)*10 + 1},
                    last=(${start + 9 < items.totalPages ? start + 9 : items.totalPages})">
                    <li th:class="page-item">
                        <a th:href="@{/item/search(page=1, name=${name})}" aria-label="First" th:class="page-link">
                            <span aria-hidden="true">First</span>
                        </a>
                    </li>
                    <li th:class="${items.first} ? 'page-item disabled' : 'page-item'">
                        <a th:href="${items.first} ? '#' :@{/item/search(page=${items.number}, name=${name})}"
                           aria-label="Previous"
                           th:class="page-link">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>

                    <li th:each="page: ${#numbers.sequence(start, last)}"
                        th:class="${page == items.number + 1} ? 'page-item active' : 'page-item'">
                        <div th:unless="${page == items.number + 1}">
                            <a th:text="${page}" th:href="@{/item/search(page=${page}, name=${name})}"
                               th:class="page-link"></a>
                        </div>

                        <div th:if="${page == items.number + 1}">
                <span th:class="page-link" th:text="${page}">
                    <span th:class="sr-only">(current)</span>
                </span>
                        </div>
                    </li>

                    <li th:class="${items.last} ? 'page-item active disabled' : page-item">
                        <a th:href="${items.last} ? '#' : @{/item/search(page=${items.number + 2}, name=${name})}"
                           aria-label="Next"
                           th:class="page-link">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:class="page-item">
                        <a th:href="@{/item/search(page=${items.totalPages}, name=${name})}" aria-label="Last"
                           th:class="page-link">
                            <span aria-hidden="true">Last</span>
                        </a>
                    </li>
                </ul>
            </nav>

            <!--여기부터-->
            <!--    <div class="dropdown list-group-item list-group-item-action">-->
            <!--        <div class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
            <!--            물품사용대장-->
            <!--        </div>-->
            <!--        <div class="dropdown-menu fade " aria-labelledby="dropdownMenuButton">-->
            <!--            <a class="dropdown-item" href="#">품목별 조회</a>-->
            <!--            <a class="dropdown-item" href="#">물품사용대장 전체 조회</a>-->
            <!--        </div>-->
            <!--    </div>-->
            <!--여기까지-->

            <!--    <td th:text="${item.getName()}">물품명</td>-->
            <!--    <td th:text="${item.getManage()}">관리처</td>-->
            <!--    <td th:text="${item.getDivision()}">구분</td>-->
            <!--    <td th:text="${item.getCount() + ' (' + item.getCountSub() + ')'}">수량</td>-->
            <!--    <td th:text="${item.getBuyPrice()}">매입처</td>-->
            <!--    <td th:text="${item.getSupply()}">매입처 정보</td>-->
            <!--    <td th:text="${item.getSupplyInfo()}">매입가</td>-->
            <!--    <td th:text="${item.getMemo()}">비고</td>-->


            <div th:replace="fragments/footer :: footer"/>
            <script>
                $("tr").click(function(){
                    $(".newAttribute").remove();
                    let data = $(this).data("id");
                    console.log(data);
                    let positionX = event.pageX;
                    let positionY = event.pageY;
                    let newTr = $('<tr>' +
                                '<td colspan="8">' +
                                    '<div class="row" style="height=1000px">' +
                                        '<svg width="1.3em" height="1.6em" viewBox="0 0 16 16" class="bi bi-arrow-return-right mx-5 mt-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">' +
                                            '<path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5z"/>' +
                                        '</svg>' +
                                        '<div class="btn-group btn-group-sm ml-0" role="group" aria-label="First group">' +
                                            '<a href="/item/update?id='+data+'" type="button" class="btn btn-secondary">수정</a>' +
                                            '<a href="/item/itemUse/insert?id='+data+'" type="button" class="btn btn-secondary">입/출고</a>' +
                                            '<a href="" type="button" class="btn btn-secondary">4</a>' +
                                            '<a href="" type="button" class="btn btn-secondary">4</a>' +
                                        '</div>' +
                                    '</div>' +
                                '</td>' +
                            '</tr>');
                    newTr.attr("class", "newAttribute");
                    $(this).after(newTr);
                });





            </script>

        </div>
    </div>
</div>
</body>
</html>