<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="navigation">
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
        <div class="collapse navbar-collapse ">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="btn btn-primary" href="#">
                        예시1
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-secondary" href="#">
                        예시2
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-secondary" href="/item">
                        물품 관리
                    </a>
                </li>
            </ul>
        </div>
    </nav>


</div>