<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div class="sticky-top">
    <div th:replace="fragments/navigation :: navigation" />
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <h1>1</h1>
            <h1>Left</h1>
            <h1>Left</h1>
            <h1>Left</h1>
            <h1>Left</h1>
            <h1>Left</h1>
            <h1>Left</h1>
            <h1>Left</h1>
            <h1>Left</h1>
            <h1>Left</h1>
            <h1>Left</h1>
            <h1>Left</h1>
            <h1>Left</h1>
            <h1>Left</h1>
            <h1>Left</h1>
            <h1>Left</h1>
            <h1>Left</h1>
        </div>
        <div class="col-10">
            <h1>2</h1>
            <h1>Right</h1>
            <h1>Right</h1>
            <h1>Right</h1>
            <h1>Right</h1>
            <h1>Right</h1>
            <h1>Right</h1>
            <h1>Right</h1>
            <h1>Right</h1>
            <h1>Right</h1>
            <h1>Right</h1>
            <h1>Right</h1>
            <h1>Right</h1>
            <h1>Right</h1>
            <h1>Right</h1>
            <h1>Right</h1>
            <h1>Right</h1>
            <h1>Right</h1>
            <h1>Right</h1>
            <h1>Right</h1>
            <h1>Right</h1>
            <h1>Right</h1>
            <h1>Right</h1>
            <h1>Right</h1>
            <h1>Right</h1>
            <h1>Right</h1>
        </div>
    </div>



    <div th:replace="fragments/footer :: footer" />
</div>
</body>
</html>